.side-display-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vw;
}

.side-display-container h1 {
    text-align: center;
}
